{% extends "TohouriStoreBundle::layout.html.twig" %}

{% block title %}Aide{% endblock %}

{% block body %}

<fieldset> 
     <legend align="center"><h1>{{ "Welcome" | trans }} </h1></legend>

       <div align="justify">
<table class="tablehome">
<tr class="couleur">

<td class="couleur">{{ "Welcome.texte" | trans }}</td>
</tr>
</table>
<p>&nbsp;</p>
	   
	   </div>
</fieldset>

{% endblock %}